# Data: http://pdet.mte.gov.br/novo-caged

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('datasets/out_2020.xlsx', sheet_name = "Tabela 8.1", skiprows = range(0, 3))

In [3]:
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70
0,NaN,\nUF,\nCódigo do Município,\nMunicípio,\nEstoque\n1º de Janeiro,Janeiro/2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,\nAcumulado no Ano,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Estoque,Admissões,Desligamentos,Saldos,Variação Relativa (%),...,Admissões,Desligamentos,Saldos,Variação Relativa (%),Admissões,Desligamentos,Saldos,Variação Relativa (%),NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,RO,110001,Ro-Alta Floresta D Oeste,1806,1788,55,73,-18,-0.996678,...,---,---,---,---,556,492,64,3.54374,NaN,NaN
4,NaN,RO,110002,Ro-Ariquemes,15600,15586,636,650,-14,-0.0897436,...,---,---,---,---,5365,5379,-14,-0.0897436,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5638,NaN,Fonte: Novo Caged – SEPRT/ME.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,NaN,* O estoque total considera os saldos não iden...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [337]:
ctba = data.loc[data['Unnamed: 2']==410690]
ctba = ctba.drop(columns=['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 69', 'Unnamed: 70'])
ctba

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
4008,410690,Pr-Curitiba,695480,702239,34953,28194,6759,0.971847,712097,40909,...,---,---,---,---,---,---,280487,282027,-1540,-0.22143

In [338]:
name = ctba.columns

In [339]:
name[3:63]

Index(['Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64'],
      dtype='object')

In [340]:
#name = ['Unnamed: '+str(n) for n in range(2,71)]
name = ctba.columns
mes = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
new_name = ['estoque', 'adm', 'desl', 'saldos', 'var']
c = 0
for col in range(0,68):    

    if col == 0:
        ctba.rename(columns={name[col]:'cod'}, inplace=True)
    elif col == 1:
        ctba.rename(columns={name[col]:'municipio'}, inplace=True)
    elif col == 2:
        ctba.rename(columns={name[col]:'estoque_1_jan'}, inplace=True)
    elif col < 63:
        if c <= 4:
            #print(col, c)
            ctba.rename(columns={name[col]:new_name[c]}, inplace=True)
            c = c + 1
        else:
            c = 0
            #print(col, c)
            ctba.rename(columns={name[col]:new_name[c]}, inplace=True)
            c = c + 1

In [341]:
ctba

,cod,municipio,estoque_1_jan,estoque,adm,desl,saldos,var,estoque,adm,...,var,estoque,adm,desl,saldos,var,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
4008,410690,Pr-Curitiba,695480,702239,34953,28194,6759,0.971847,712097,40909,...,---,---,---,---,---,---,280487,282027,-1540,-0.22143