In [1]:
import pandas as pd
import numpy as np

In [167]:
df_2017 = pd.read_csv(r'C:\Users\Eduardo\Documents\Facul\Economia Regional e Urbana\base de dados\csv\RAIS_Micro_PR_CNAE2.0_2017.csv', sep=';',encoding='latin1')

In [168]:
coluns = df_2017.columns[1:40]
df= []
for i in coluns:
    df.append(df_2017[i].divide(df_2017['Total']))
df = pd.DataFrame(df).T
df.columns = coluns
df.insert(0,"setor",df_2017["SETOR"])

In [170]:
df_2017

,SETOR,PARANAVAÍ,UMUARAMA,CIANORTE,GOIOERÊ,CAMPO MOURÃO,ASTORGA,PORECATU,FLORAÍ,MARINGÁ,...,PRUDENTÓPOLIS,IRATI,UNIÃO DA VITÓRIA,SÃO MATEUS DO SUL,CERRO AZUL,LAPA,CURITIBA,PARANAGUÁ,RIO NEGRO-PR,Total
0,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",7540,3454,2632,1996,3341,3067,1080,788,1265,...,1151,456,477,690,118,1130,3136,502,570,92857
1,PRODUÇÃO FLORESTAL,38,69,24,42,69,41,3,4,29,...,230,288,668,45,501,141,1217,54,339,10990
2,PESCA E AQÜICULTURA,9,7,4,1,9,1,51,0,10,...,0,1,0,0,0,0,9,23,2,530
3,EXTRAÇÃO DE CARVÃO MINERAL,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,283
4,EXTRAÇÃO DE PETRÓLEO E GÁS NATURAL,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,OUTRAS ATIVIDADES DE SERVIÇOS PESSOAIS,123,217,260,55,136,165,64,4,812,...,50,51,35,37,1,6,4075,143,36,10295
85,SERVIÇOS DOMÉSTICOS,4,10,3,1,1,10,1,0,10,...,2,2,0,0,0,0,70,7,22,257
86,ORGANISMOS INTERNACIONAIS E OUTRAS INSTITUIÇÕE...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,18,0,0,41
87,{ñ class},0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88,Total,62202,59469,42190,20813,46471,42958,15121,5639,191848,...,19209,18106,22053,8952,3127,10306,1177088,66435,16181,3028192