In [1]:
import pandas as pd

In [71]:
def rename(df):
    for i in range(len(df)):
        df[i].rename(columns=dict(zip(cols, newcols)), inplace=True)
        df[i] = df[i].loc[data[i]['municipio']==410690]

In [21]:
cols =[
    'município', 
    'seção',
    'categoria',
    'graudeinstrução',
    'sexo',
    'tipomovimentação',
    'raçacor',
]
newcols=[
    'municipio',
    'secao',
    'categoria',
    'instrucao',
    'genero',
    'tipo',
    'raca'
]
data = [jan, fev, mar]

In [72]:
jan = pd.read_csv('datasets/2020/CAGEDMOV202001.txt', sep=';', usecols=cols)
fev = pd.read_csv('datasets/2020/CAGEDMOV202002.txt', sep=';', usecols=cols)
mar = pd.read_csv('datasets/2020/CAGEDMOV202003.txt', sep=';', usecols=cols)

In [73]:
rename(data)

In [75]:
data[0]

         municipio secao  categoria  instrucao  genero  tipo  raca
5           410690     G        101          7       3    20     3
17          410690     S        101          7       3    43     1
48          410690     F        101          5       1    20     6
50          410690     G        101          7       3    40     6
79          410690     F        101          5       1    31     6
...            ...   ...        ...        ...     ...   ...   ...
2617203     410690     I        101          5       1    20     1
2617230     410690     N        106          7       1    43     6
2617252     410690     C        999          7       3    20     1
2617268     410690     N        105          7       1    40     1
2617305     410690     G        101          5       3    20     1

[58584 rows x 7 columns]