In [17]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)

In [35]:
cols =[
    'município', 
    'seção',
    'categoria',
    'graudeinstrução',
    'sexo',
    'tipomovimentação',
    'raçacor',
]
newcols=[
    'municipio',
    'secao',
    'categoria',
    'instrucao',
    'genero',
    'tipo',
    'raca'
]
data = [jan, fev, mar]

In [60]:
def rename(df):
    for i in range(len(df)):
        df[i].rename(columns=dict(zip(cols, newcols)), inplace=True)
        df[i] = df[i].loc[data[i]['municipio']==410690]
        df[i].loc[df[i]['genero']==1,'genero'] = 'M'
        df[i].loc[df[i]['genero']==3,'genero'] = 'F'
        df[i].loc[df[i]['genero']==9,'genero'] = 'N/I'
        df[i].loc[df[i]['secao']=='A','secao'] = 'Agricultura/Pecuária'
        df[i].loc[df[i]['secao']=='B','secao'] = 'Ind. Extrativas'
        df[i].loc[df[i]['secao']=='C','secao'] = 'Ind. Transformação'
        df[i].loc[df[i]['secao']=='D','secao'] = 'Eletricidade/Gás'
        df[i].loc[df[i]['secao']=='E','secao'] = 'Água/Esgoto'
        df[i].loc[df[i]['secao']=='F','secao'] = 'Construção'
        df[i].loc[df[i]['secao']=='G','secao'] = 'Comércio'
        df[i].loc[df[i]['secao']=='H','secao'] = 'Transporte'
        df[i].loc[df[i]['secao']=='I','secao'] = 'Alimentação'
        df[i].loc[df[i]['secao']=='J','secao'] = 'Informação'
        df[i].loc[df[i]['secao']=='K','secao'] = 'Financeiros'
        df[i].loc[df[i]['secao']=='L','secao'] = 'Imobiliárias'
        df[i].loc[df[i]['secao']=='M','secao'] = 'Profissionais'
        df[i].loc[df[i]['secao']=='N','secao'] = 'Administrativas'
        df[i].loc[df[i]['secao']=='O','secao'] = 'Adm Pública'
        df[i].loc[df[i]['secao']=='P','secao'] = 'Educação'
        df[i].loc[df[i]['secao']=='Q','secao'] = 'Saúde'
        df[i].loc[df[i]['secao']=='R','secao'] = 'Artes/Cultura'
        df[i].loc[df[i]['secao']=='S','secao'] = 'Outros Serviços'
        df[i].loc[df[i]['secao']=='T','secao'] = 'Domésticos'
        df[i].loc[df[i]['secao']=='U','secao'] = 'Org. Internacionais'
        df[i].loc[df[i]['secao']=='Z','secao'] = 'Não Identificados'
        df[i].loc[df[i]['categoria']==101,'categoria'] = 'CLT'
        df[i].loc[df[i]['categoria']==102,'categoria'] = 'Trab. Rural'
        df[i].loc[df[i]['categoria']==103,'categoria'] = 'Aprendiz'
        df[i].loc[df[i]['categoria']==104,'categoria'] = 'Doméstico'
        df[i].loc[df[i]['categoria']==105,'categoria'] = 'Contrato a Termo'
        df[i].loc[df[i]['categoria']==106,'categoria'] = 'Temporário'
        df[i].loc[df[i]['categoria']==107,'categoria'] = 'VA/Sem acordo'
        df[i].loc[df[i]['categoria']==108,'categoria'] = 'VA/Com acordo'
        df[i].loc[df[i]['categoria']==111,'categoria'] = 'Intermitente'
        df[i].loc[df[i]['categoria']==999,'categoria'] = 'Não Identificado'
        df[i].loc[df[i]['instrucao']==1,'instrucao'] = 'Analfabeto'
        df[i].loc[df[i]['instrucao']==2,'instrucao'] = '5º Incompleto'
        df[i].loc[df[i]['instrucao']==3,'instrucao'] = '5º Fundamental'
        df[i].loc[df[i]['instrucao']==4,'instrucao'] = '6º a 9º Fundamental'
        df[i].loc[df[i]['instrucao']==5,'instrucao'] = 'Fundamental Completo'
        df[i].loc[df[i]['instrucao']==6,'instrucao'] = 'Médio Incompleto'
        df[i].loc[df[i]['instrucao']==7,'instrucao'] = 'Médio Completo'
        df[i].loc[df[i]['instrucao']==8,'instrucao'] = 'Superior Incompleto'
        df[i].loc[df[i]['instrucao']==9,'instrucao'] = 'Superior Completo'
        df[i].loc[df[i]['instrucao']==10,'instrucao'] = 'Mestrado'
        df[i].loc[df[i]['instrucao']==11,'instrucao'] = 'Doutorado'
        df[i].loc[df[i]['instrucao']==80,'instrucao'] = 'Pós Graduação Completa'
        df[i].loc[df[i]['instrucao']==99,'instrucao'] = 'Não Identificado'
        df[i].loc[df[i]['raca']==1,'raca'] = 'Branca'
        df[i].loc[df[i]['raca']==2,'raca'] = 'Preta'
        df[i].loc[df[i]['raca']==3,'raca'] = 'Parda'
        df[i].loc[df[i]['raca']==4,'raca'] = 'Amarela'
        df[i].loc[df[i]['raca']==5,'raca'] = 'Indígena'
        df[i].loc[df[i]['raca']==6,'raca'] = 'Não Informada'
        df[i].loc[df[i]['raca']==9,'raca'] = 'Não Identificado'

In [61]:
jan = pd.read_csv('datasets/2020/CAGEDMOV202001.txt', sep=';', usecols=cols)
fev = pd.read_csv('datasets/2020/CAGEDMOV202002.txt', sep=';', usecols=cols)
mar = pd.read_csv('datasets/2020/CAGEDMOV202003.txt', sep=';', usecols=cols)

In [62]:
rename(data)

In [63]:
data[0].tail()

,municipio,secao,categoria,instrucao,genero,tipo,raca
2617203,410690,Alimentação,CLT,Fundamental Completo,M,20,Branca
2617230,410690,Administrativas,Temporário,Médio Completo,M,43,Não Informada
2617252,410690,Ind. Transformação,Não Identificado,Médio Completo,F,20,Branca
2617268,410690,Administrativas,Contrato a Termo,Médio Completo,M,40,Branca
2617305,410690,Comércio,CLT,Fundamental Completo,F,20,Branca

In [64]:
# Incluir Coluna informando admissão/desligamento

In [69]:
group = data[1].groupby(['raca']).size()
group

raca
Amarela               282
Branca              38188
Indígena              216
Não Identificado      239
Não Informada       17381
Parda               10780
Preta                2083
dtype: int64